Импорт библиотек

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
mpl.rcParams.update(mpl.rcParamsDefault)

Подгрузка файлов

In [4]:

file_path = r'C:\Users\major\Documents\GitHub\stash\Nika`s_work\src\ds_salaries.csv'
data = pd.read_csv(file_path)

Выводим "шапку"

In [5]:
print(data.head(10))

   Unnamed: 0  work_year experience_level employment_type  \
0           0       2020               MI              FT
1           1       2020               SE              FT
2           2       2020               SE              FT
3           3       2020               MI              FT
4           4       2020               SE              FT
5           5       2020               EN              FT
6           6       2020               SE              FT
7           7       2020               MI              FT
8           8       2020               MI              FT
9           9       2020               SE              FT

                    job_title    salary salary_currency  salary_in_usd  \
0              Data Scientist     70000             EUR          79833
1  Machine Learning Scientist    260000             USD         260000
2           Big Data Engineer     85000             GBP         109024
3        Product Data Analyst     20000             USD          20000
4   Machine Learning Engineer    150000             USD         150000
5                Data Analyst     72000             USD          72000
6         Lead Data Scientist    190000             USD         190000
7              Data Scientist  11000000             HUF          35735
8       Business Data Analyst    135000             USD         135000
9          Lead Data Engineer    125000             USD         125000

  employee_residence  remote_ratio company_location company_size
0                 DE             0               DE            L
1                 JP             0               JP            S
2                 GB            50               GB            M
3                 HN             0               HN            S
4                 US            50               US            L
5                 US           100               US            L
6                 US           100               US            S
7                 HU            50               HU            L
8                 US           100               US            L
9                 NZ            50               NZ            S

Общая информация о выборке

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

Отображаем количество пустых ячеек

In [7]:
data.isnull().sum()

Unnamed: 0            0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64